:root{
    --color-white: #fff;
    --color-black: #000;
}

body{font-family: 'Inter', sans-serif; color: #000; line-height: 1;position: relative;}
   img{ max-width:100%; height:auto; display:inline-block;}
   a{text-decoration: none; transition: all 0.4s; color: var(--color-black);}
   a:hover{text-decoration: none;transition: all .4s;}
   a:-webkit-any-link:focus-visible{outline: none;}
   ul{list-style: none; padding: 0px; margin: 0px;}
   .container{max-width: 92%;}

/*--------------------------------------------Home page---------------------------------------*/

/*-----------header------------------*/
.header_main{background: transparent;position: fixed;left: 0;right: 0;top: 0; z-index: 99999;padding: 25px 0px;
    transition: padding 140ms ease;}
.menucontainer{display: flex;justify-content: space-between;align-items: center;}
.navbar_area{display: flex;align-items: center;justify-content: space-between;gap: 100px;}
.logo{position: relative;z-index: 99999;}
.logo img{max-width: 225px;}
.menu_list li{display: inline-block;}
.menu_list li a{font-size: 18px;line-height: 1.5; font-weight: 500;color: var(--color-white);text-transform: capitalize; 
    position: relative;}
.menu_list{
    position: relative;
    display: inline-flex;
}

  .menu_list a{
    display: block;
    padding: 0px 10px;
  }
  #marker, .marker{
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    height: 2.5px;
    background: var(--color-white);
    border-radius: 10px;
    transition:  all .5s;
  }
  #marker_right{
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    height: 2.5px;
    background: var(--color-white);
    border-radius: 10px;
    transition:  all .5s;
  }
.menu_list_right{
    position: relative;
}
.menu.active a{color:#b5fdec;}



.menu_bar{display: none;}

#nav_top.fixed{padding: 10px 0px;transition: padding 140ms ease;box-shadow: 0px 0px 4px rgb(0,0,0,.04);
    background: rgba(255,255,255,.95);}

 /*-----------banner------------------*/
.banner_main{width: 100%;height: 100vh; position: relative;overflow: hidden;}
.video-slide{width: 100%;height: 100%; position: absolute;top: 0;left: 0;clip-path: circle(0% at 0 50%);}
.video-slide video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-slide.active{
    clip-path: circle(150% at 0% 50%);
    transition: 2s ease;
    transition-property: clip-path ;
}
.video-slide::before {
    z-index: 0;
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.32);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.content{
    position: absolute;
    inset: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    color: var(--color-white);
}
h1{font-size: 46px;font-weight: 600;margin: 0px 0px 20px;color: #b5fdec;}
.bn-text p{font-size: 20px;line-height: 1.6; font-weight: 300; margin: 0px 0px 30px;}
.bn-text{max-width: 700px;}

.slider-list-indicator{
    width: 100%;
    z-index: 5;
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-btn{
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 225, 255, 0.5);
    transition: 0.3s ease;
}
.slider-btn.active{
    background: #b5fdec;
    width: 20px;
}
.slider-btn:not(:last-child){
    margin-right: 12px;
}
.slider-btn:hover{
    background: #1c84cf;
}

.theme-btn{
    border: 1px solid #b5fdec;
    overflow: hidden;
    border-radius: 30px;
    display: inline-flex;
    position: relative;
}
.theme-inner-btn{
    border-radius: 30px;
    padding: 13px 35px;
    overflow: hidden;
    transform: translate(0,0);
    transition: transform .3s ease;
    display: inline-block;
    position: relative;
}
.btn-lebel{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: #b5fdec;
}
.theme-inner-btn:last-child{
    transform: scaleY(0);
    transform-origin: bottom;
    position: absolute;
    /* top: 50px; */
    left: 0;
    background: var(--color-white);
    transition: transform .3s ease, top .3s ease;
}
.theme-inner-btn:last-child .btn-lebel{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: var(--color-black);
}
.theme-btn:hover .theme-inner-btn:first-child{
    transform: translate(0, -70%);
}
.theme-btn:hover .theme-inner-btn:last-child{
    transform: scaleY(1);
}

@media (max-width: 1400px){
   
}

@media (max-width: 1200px){
    .logo img {
        max-width: 180px;
    }
    .navbar_area{
        gap: 65px;
    }
    .menu_list li a{
        font-size: 16px;
    }
}

@media (max-width: 1024px){
    .logo img {
        max-width: 150px;
    }
    h1{font-size: 40px;}
    .bn-text p{font-size: 18px;}
    .btn-lebel{
        font-size: 15px;
    }
    .theme-inner-btn:last-child .btn-lebel{
        font-size: 15px
    } 

    .menu_bar{
        width: 40px;
        height: 40px;
        border: 1px solid #fff;
        border-radius: 100%;
        background: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 8;
    }
    .menu_bar span{
        display: block;
        height: 1px;
        width: 14px;
        background: #fff;
        z-index: 1;
        transition: transform .4s ease;
    }
    .menu_bar span:not(:last-child){
        margin-bottom: 3px;
    }
    .menu_bar:before{
        content: "";
        height: 100%;
        width: 100%;
        background: #fff;
        border-radius: 100%;
        position: absolute;
        inset: 0;
        transform: scale(0);
        transform-origin: center;
        transition: transform .25s ease-in-out;
        z-index: 0;
    }
    .menu_bar:hover:before, .menu_bar.menuclose:before{
        transform: scale(1.12);
    }
    .menu_bar:hover span, .menu_bar.menuclose span{
        background: #000;
    }
    .menu_bar.menuclose span:first-child{
        transform: translate(0px, 5px) rotate(-45deg);
    }
    .menu_bar.menuclose span:last-child{
        transform: translate(0px, -3px) rotate(-135deg);
    }
    .menu_bar.menuclose span:nth-child(2){
        opacity: 0;
    }

    .navbar_area{
        position: fixed;
        inset: 0;
        z-index: -1;
        height: 100vh;
        opacity: 0;
        pointer-events: none;
        background: rgba(0,0,0,.85);
        backdrop-filter: blur(10px);
        -webkit-clip-path: inset(10% 10% 10% 10%);
        clip-path: inset(10% 10% 10% 10%);
        transition: clip-path .75s cubic-bezier(.215,.61,.355,1), opacity .65s cubic-bezier(.215,.61,.355,1);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 30px;
    }
    .navbar_area.showmenu{
        z-index: 8;
        opacity: 1;
        pointer-events: auto;
        -webkit-clip-path: inset(0);
        clip-path: inset(0);
        transition: clip-path .75s cubic-bezier(.215,.61,.355,1), opacity .65s cubic-bezier(.215,.61,.355,1);
    }
    .menu_list{
        flex-direction: column;
        transform: scale(1.2);
        transition: transform .35s cubic-bezier(.215,.61,.355,1);
        gap: 10px;
    }
    .navbar_area.showmenu .menu_list{
        transform: scale(1);
    }
    .menu a{color: #fff !important;font-size: 18px !important;}
    .marker{display: none !important;}
}

@media (max-width: 992px){

    

}


@media (max-width: 768px){
    h1{font-size: 36px;}
    .bn-text p{font-size: 16px;}
    .btn-lebel{
        font-size: 14px;
    }  
    .theme-inner-btn:last-child .btn-lebel{
        font-size: 14px
    }  
    .header_main{
        padding: 18px 0px;
    }
    .banner_main{
        text-align: center !important;
    }

}

@media (max-width: 576px){
    h1{font-size: 32px;}
    .logo img{max-width: 125px;}
    
}

@media (max-width: 480px){
    h1{font-size: 28px;}
}