*{box-sizing: border-box;}
body{font-family: 'Inter', sans-serif;color: #000;position: relative;}
img{max-width: 100%;display: inline-block;}
a{text-decoration: none;transition: all .4s; color: #000;}
a:hover{text-decoration: none;transition: all .4s;}
a:-webkit-any-link:focus-visible{text-decoration: none;outline: none;}
ul{margin: 0;padding: 0;list-style-type: none;}
.container{width: min(2200px, 90%);max-width: inherit;}


.header-main{
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    padding: 20px 0px;
}
#navtop::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: rgba(0,0,0,.75);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 4px rgba(255,255,255,.12);
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .4s ease-in;

}
#navtop.fixed::before{
    transform: scaleY(1);
    z-index: 7;
}
.menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 8;
    position: relative;
}
.logo{position: relative;z-index: 9;}
.logo img{max-width: 100px;}
.navbar-area{
    display: flex;
    gap: 100px;
}
.menu-list{display: flex;}
.menu{padding: 0px 10px;}
.menu a{font-size: 18px;text-transform: capitalize;color: #fff;position: relative;}
#navtop.fixed .menu a{color: #000;}
.menu a:after{
    content: "";
    background: currentColor;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -4px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform .5s cubic-bezier(1,0,0,1);
}
.menu a:hover:after{
    transform: scaleX(1);
    transform-origin: left center;
}


.menu-bar{
    display: none;
}

@media (max-width:1024px){
    .menu-bar{
        width: 40px;
        height: 40px;
        border: 1px solid #fff;
        border-radius: 100%;
        background: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 8;
    }
    .menu-bar span{
        display: block;
        height: 1px;
        width: 14px;
        background: #fff;
        z-index: 1;
        transition: transform .4s ease;
    }
    .menu-bar span:not(:last-child){
        margin-bottom: 3px;
    }
    .menu-bar:before{
        content: "";
        height: 100%;
        width: 100%;
        background: #fff;
        border-radius: 100%;
        position: absolute;
        inset: 0;
        transform: scale(0);
        transform-origin: center;
        transition: transform .25s ease-in-out;
        z-index: 0;
    }
    .menu-bar:hover:before, .menu-bar.menu-close:before{
        transform: scale(1.12);
    }
    .menu-bar:hover span, .menu-bar.menu-close span{
        background: #000;
    }
    .menu-bar.menu-close span:first-child{
        transform: translate(0px, 5px) rotate(-45deg);
    }
    .menu-bar.menu-close span:last-child{
        transform: translate(0px, -3px) rotate(-135deg);
    }
    .menu-bar.menu-close span:nth-child(2){
        opacity: 0;
    }

    .navbar-area{
        position: fixed;
        inset: 0;
        z-index: -1;
        height: 100vh;
        opacity: 0;
        pointer-events: none;
        background: rgba(0,0,0,.75);
        backdrop-filter: blur(10px);
        -webkit-clip-path: inset(10% 10% 10% 10%);
        clip-path: inset(10% 10% 10% 10%);
        transition: clip-path .75s cubic-bezier(.215,.61,.355,1), opacity .65s cubic-bezier(.215,.61,.355,1), 
        -webkit-clip-path .75s cubic-bezier(.215,.61,.355,1);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
    }
    .navbar-area.show-menu{
        z-index: 8;
        opacity: 1;
        pointer-events: auto;
        -webkit-clip-path: inset(0);
        clip-path: inset(0);
        transition: clip-path .75s cubic-bezier(.215,.61,.355,1), opacity .65s cubic-bezier(.215,.61,.355,1), 
        -webkit-clip-path .75s cubic-bezier(.215,.61,.355,1);
    }
    .menu-list{
        flex-direction: column;
        transform: scale(1.2);
        transition: transform .35s cubic-bezier(.215,.61,.355,1);
    }
    .navbar-area.show-menu .menu-list{
        transform: scale(1);
    }
    .menu a{color: #fff !important;}
}